*{
    margin: 0;
    padding: 0;
    text-align: center;
}

.header{
    height: 8vmin;
    width: 100%;
    background-color: rgba(25, 28, 73, 0.993);
    line-height: 8vmin;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
}

.tools{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 4vmin;
}

/* .tool{
    height: 15vmin;
    width: 15vmin;
    border-radius: 50%;
    border: 2px solid white;
} */

.tools img{
    height: 17vmin;
    width: 17vmin;
    border-radius: 50%;
    object-fit: cover;
}

.tools img:hover{
    cursor: pointer;
    border: 3px solid black;
}

.score-board{
    margin-top: 4rem;
    gap: 5rem;
    display: flex;  
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}
.msg-container{
   margin-top: 5rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}


